# Compiled output – generated locally by each member, never commit
out/

# macOS
.DS_Store

# Windows
Thumbs.db

# IDE temp files
*.swp
*.iml
*.class

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/

# IntelliJ
.idea/
*.iws
